* {
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    height: 60px;
    background-color: black;
    border: 10px;
    border-color: white;
}
#logo{
    color: orange;
    font-size: 25px;
}
button{
    background-color: orange;
    font-size: 10px; 
}
a{
    margin-right:200px;
    /* to remove underline from the aanchor tags */
    text-decoration: none;
}